.about {
  padding: 7rem 0;
  .top-heading {
    font-size: 3.5rem;
    font-weight: 400;
    padding: 3rem;
    background-color: #5a8ad8;
    border-radius: 4rem;
    text-transform: capitalize;
    letter-spacing: 0.8rem;
    color: var(--font-color);
    font-family: "Satisfy";
  }
}

.about__top {
  min-height: 100vh;
  display: flex;
  padding: 3rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.about__top-card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 35rem;
  padding-bottom: 9rem;
  h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}

.about-icon {
  font-size: 3rem;
  color: var(--primary-color);
}
.about-bottom {
  padding: 7rem;
  background-color: #f7edcd;
  h1 {
    padding-bottom: 7rem;
    font-size: 4.5rem;
    font-weight: 400;
  }
}

.about-container {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.about-content {
  flex: 1;
  width: 60rem;
  margin: 0 2.5rem;
  h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 3.5rem;
    margin-bottom: 4rem;
  }
}

.about-img {
  flex: 1;
  height: 45rem;
  max-width: 40rem;
}

@media screen and (max-width: 992px) {
  .about-container {
    flex-direction: column;
    .about-content {
      padding: 0 2rem;
      max-width: 90vw;
    }
  }
}
