.header-bg {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
}

.btn {
  background: var(--primary-color);
  color: var(--font-color);
  font-size: 1.5rem;
  border-radius: 3rem;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: background 1s ease-in-out;
  outline: none;
  border: none;
}
.btn:hover {
  background: var(--secondary-color);
}
